{% block styles %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block title %}
Вход
{% endblock %}
{% block content %}

{% from 'bootstrap5/form.html' import render_field %}
<form class="card card-block m-x-auto bg-faded form-signin" method="POST" action="/loginme">
<h2 class="form-signin-heading">Вход</h2>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
<div class="alert alert-danger" role="alert"> {{ category }} -  {{ message }} </div>
{% endfor %}
    {{ form.csrf_token() }}
    {{ form.hidden_tag() }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.remember) }}
    {{ render_field(form.submit) }}
    <hr class="dropdown-divider">
    <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">У вас нет учетной записи?</p>
        <a href="/signup"><button type="button" class="btn btn-outline-danger">Зарегистрируйтесь</button></a>
    </div>
</form>

{% endblock %}