{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block title %}
Вопрос
{% endblock %}

{% block content %}



<form class="card card-block m-x-auto bg-faded form-signin" method="POST" action="/bank/createQuestion">
<h2 class="form-signin-heading">Создание вопроса</h2>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
        {% if category == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {{ form.csrf_token() }}
    {{ render_field(form.question) }}
    {% for answer in form.answers %}
    {{ answer.csrf_token() }}
    {{ render_field(answer) }}
    {% endfor %}
    {{ render_field(form.right_number) }}
    {{ render_field(form.submit) }}
</form>
{% endblock %}